{% extends 'base/admin-base.html' %}


{% block content %}
<!-- NOTE -->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Exams</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_exams' %}">Exams</a></li>
                    <li class="breadcrumb-item active">Add Exams</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <!-- <form action="{% url 'add_subject' %}" method="POST"> -->
                    <form action="upload_exams/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Exams Information</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Exam Name</label>
                                    <input type="text" class="form-control" name="exam_name">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Class</label>
                                    <input type="text" class="form-control" name="exam_class">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" name="exam_subject">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Start Time</label>
                                    <input type="time" class="form-control" name="exam_start_time">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>End Time</label>
                                    <input type="time" class="form-control" name="exam_end_time">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" name="exam_date">
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                <input type="submit" value="Submit" class="btn btn-small btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NOTE -->
{% endblock %}