{% extends '../base/admin-base.html' %}


{% block content %}
<!-- NOTE -->
<div class="content container-fluid">

    <div class="page-header">
        
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Department</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_departments' %}">Department</a></li>
                    <li class="breadcrumb-item active">Add Department</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="upload_department/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Department Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Department ID</label>
                                    <input type="text" class="form-control" name="dep_Id">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Department Name</label>
                                    <input type="text" class="form-control" name="dep_name">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Head of Department</label>
                                    <input type="text" class="form-control" name="h_o_d">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Department Start Date</label>
                                    <input type="date" class="form-control" name="date_started">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>No of Students</label>
                                    <input type="number" class="form-control" name="num_of_stud">
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                <input type="submit" value="Submit" class="btn btn-small btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NOTE -->
{% endblock %}