{% extends 'base/cmanager.html' %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Experience Heads</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Experience Heads</li>
                </ul>
            </div>


        </div>
    </div>

   <!-- Insert content here -->
   <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Add Experience Heads</span></h5>
                        </div>
                        <div class="col-12 col-sm-9">
                            <div class="form-group">
                                <label>Names of Head</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Position</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <h5 class="form-title"><span>About</span></h5>
                        </div>
                        <div class="container mt-5 mb-5">
                            <textarea id="assignment">

                                        </textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}