<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>TASHTECH | Admin Dashboard</title>

    <!-- ========== LOADING DJANGO STATIC FILES =========== -->
    {% load static %}


    <link rel="shortcut icon" href="{% static 'general_dashboards/tashtech favicon.png' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

    <link rel="stylesheet" href="{% static 'general_dashboards/assets/plugins/bootstrap/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{% static 'general_dashboards/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'general_dashboards/assets/plugins/fontawesome/css/all.min.css' %}">

    <script src="https://use.fontawesome.com/960f7153f1.js"></script>

    <link rel="stylesheet" href="{% static 'general_dashboards/assets/css/style.css' %}">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="{% url 'admin_tsms' %}" class="logo">
                    <img src="{% static 'general_dashboards/TASHTECh logo.png' %}" alt="Logo">
                </a>
                <a href="{% url 'admin_tsms' %}" class="logo logo-small">
                    <img src=" {% static 'general_dashboards/tashtech favicon.png' %} " alt="Logo" width="30"
                        height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle"
                                src="{% static 'general_dashboards/assets/img/profiles/avatar-01.jpg' %}" width="31"
                                alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'general_dashboards/assets/img/profiles/avatar-01.jpg' %}"
                                    alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>{{user.username}}</h6>
                                <p class="text-muted mb-0">IT Coordinator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="{% url 'logoutUser' %}">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">

            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="submenu active">
                            <a href="{% url 'admin_tsms' %}"> <i class="fas fa-user-graduate"></i><span>
                                    Dashboard</span> <span class=" menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'admin_students' %}">Student List</a></li>
                                <li><a href="{% url 'add_student' %}">Student Add</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-user-graduate"></i> <span> Star Students</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'star_students' %}">Star Student List</a></li>
                                <li><a href="{% url 'add_star_std' %}">Star Student Add</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{%  url 'admin_teachers' %}">Teacher List</a></li>
                                <li><a href="{% url 'add_teachers' %}">Teacher Add</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'admin_departments' %}">Department List</a></li>
                                <li><a href="{% url 'add_department' %}">Department Add</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'admin_subjects' %}">Subject List</a></li>
                                <li><a href="{% url 'add_subject' %}">Subject Add</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Exams</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'admin_exams' %}">Exams List</a></li>
                                <li><a href="{% url 'add_exam' %}">Add Exams</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Announcement</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <!-- NOTE: EVENT.HTML -->
                                <li><a href="{% url 'admin_events' %}">Events</a></li>
                                <li><a href="{% url 'add_event' %}">Add Events</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fas fa-user-graduate"></i> <span> User Creation</span> <span
                                    class=" menu-arrow"></span></a>
                            <ul>
                                <!-- NOTE: EVENT.HTML -->
                                <li><a href="{% url 'create_user' %}">Add User</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">
                            <span>Management</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'admin_fees' %}">Fees Collection</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">
                            <span>Miscellaneous</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-shield-alt"></i> <span> Other </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li>
                                    <a href="{% url 'admin_timetable' %}"><i class="fas fa-table"></i> <span>Time
                                            Table</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'add_timetable' %}"><i class="fas fa-table"></i> <span>Add Time
                                            Table</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- MAIN PAGE -->
        <div class="page-wrapper">

            <!-- NOTE -->
            {% block content %}

            {% endblock %}
            <!-- NOTE -->

            <footer>
                <p>Copyright © 2021 <a href="#">CodeLabs</a></p>
            </footer>

        </div>

        <!-- MAIN PAGE ENDS HERE! -->
        <!-- MAIN PAGE ENDS HERE! -->

    </div>

    <script src="{% static 'general_dashboards/assets/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'general_dashboards/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'general_dashboards/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'general_dashboards/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'general_dashboards/assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'general_dashboards/assets/plugins/apexchart/chart-data.js' %}"></script>

    <script src="{% static 'general_dashboards/assets/js/script.js' %}"></script>
</body>

</html>