{% extends 'base/teacher-base.html' %}

{% block content %}
<!-- NOTE -->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Exam</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'teacherDashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Exam</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="{% url 'export_exam_list' %}" class="btn btn-outline-primary mr-2"><i
                        class="fas fa-download"></i>
                    Download</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Exam Name</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--  -->
                                {% for exam in exams %}
                                <tr>
                                    <td>
                                        <h2>
                                            <a>{{exam.exam_name}}</a>
                                        </h2>
                                    </td>
                                    <td>{{exam.exam_class}}</td>
                                    <td>{{exam.exam_subject}}</td>
                                    <td>{{exam.exam_start_time}}</td>
                                    <td>{{exam.exam_end_time}}</td>
                                    <td>{{exam.exam_date}}</td>
                                    <td class="text-right"></td>
                                </tr>
                                {% endfor %}
                                <!--  -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NOTE -->
{% endblock %}